@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;700&family=Oswald:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  overflow-x: hidden;
}

html, body{
  margin: 0;
  padding: 0;
}

nav{
  border-bottom: solid 0.15rem #252627;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  padding: 0 2rem;
  background-color: #FFF9FB;
  font-family: 'Gabarito', cursive;
  font-weight: 400;
}


nav a{
  text-decoration: none;
  padding: 1rem;
  color: #252627;
}

nav a:hover{
  background-color: #6B9080;
}

/* UL gebruikt zodat ik via space in between het logo links kon neerzetten en de rest van de navbar rechts */
nav ul{
  display: flex;
}

/* Header */
header{
  font-family: 'Gabarito', cursive;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #252627;
 
}
header h1{
  font-weight: 600;
}
header p{
  width: 50%;
  text-align: justify;
  font-weight: 500;
}

strong{
  color: #D64933;
}

.headerInfo{
  padding: 1rem;
}
/* Buttons */
.rightButton{
  background-color: transparent;
  margin: 0.5em;
  padding: 1em 2em;
  color: #FFF9FB;
  line-height: 1;
  border: #252627 0.15rem solid;
}
.leftButton{ 
  border: #252627 0.15rem solid;
  margin: 0.5em;
  padding: 1em 2em;
  color: #FFF9FB;
  line-height: 1;
  background-color: #252627;
  color:#FFF9FB;
  margin-right: 0.5rem;
}

.animate:hover,
.animate:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-45%);
}